<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="http://thestarsarefar.tumblr.com">Pics of the mind</a> by SW</small>
  <nav>
    <ul>
      <li>
        <%= link_to "About", about_path %>
      </li>
    </ul>
  </nav>
    </footer>

</div>